@import "tailwindcss";

@theme {
  --color-yellow: #B8952E;
  --color-yellow-light: #DBC170;  
  --color-yellow-dark: #846F2E;
  
  --color-gray-100: #F5F4F5;
  --color-gray-200: #B2AFB6;
  --color-gray-300: #98959D;
  --color-gray-400: #7A767F;
  --color-gray-500: #3E3C41;
  --color-gray-600: #2E2C30;
  --color-gray-700: #232225;
  --color-gray-800: #19181B;
  --color-gray-900: #050505;
  
  --text-title-lg: 2rem;
  --text-title-lg--line-height: 1.5rem;
  --text-title-lg--font-weight: bold;
  
  --text-title-md: 1rem;
  --text-title-md--line-height: 1.5rem;
  --text-title-md--font-weight: bold;
  
  --text-title-sm: 0.875rem;
  --text-title-sm--line-height: 1.25rem;
  --text-title-sm--font-weight: bold;
  
  --text-md: 1rem;
  --text-md--line-height: 1.5rem;
  
  --text-sm: 0.75rem;
  --text-sm--line-height: 1.25rem;

  --default-font-family: "Catamaran", sans-serif;
}
